[project]
name = "rime-auto-deploy"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "httpx>=0.28.1",
    "platformdirs>=4.5.1",
    "rich>=14.3.1",
]
